# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv


DATABASE_USERNAME=x
DATABASE_PASSWORD=x

SECRET_KEY_BASE=59a2323712341241243124124qweerqwrqwrwdfghfhftryu8678yu38e22ba3288d1a41974394d9a1b25fdc44i87vf6118d9

# Intercept mail on staging, to be sent to the following recipients
# Example: "user@domain.tld,other-user@domain.tld"
STAGING_MAIL_INTERCEPT_EMAIL_RECIPIENTS=

ERRBIT_PROJECT_KEY=
ERRBIT_HOST=https://example.host.tld:8080

# this is not working 2016-09-28, when set to production, production log is not updating for example.
# RAILS_ENV=development
# RAILS_ENV=production
