.container
  %br
  %ul
    %li{:style => "display:-moz-inline-box; -moz-box-orient:vertical; display:inline-block; vertical-align:top;" }
      %ul.list-group{:style => "font-size:16px; border-radius: 4px"}
        %li.list-group-item
          %strong Generate Reports
        %a.li.list-group-item{:href => generate_report_path(format: :xlsx)} Report using 'axlsx-rails'
    &nbsp &nbsp &nbsp &nbsp &nbsp 
    %li{:style => "display:-moz-inline-box; -moz-box-orient:vertical; display:inline-block; vertical-align:top;" }
      %ul.list-group{:style => "font-size:16px; border-radius: 4px"}
        %li.list-group-item
          %strong Graphs     
        %a.li.list-group-item{:href => hours_graph_path} Hours Trained Graph