.container
  %h2 Lookup Tables
  %ul.list-group{:style => "width:35%; font-size:18px; border-radius: 4px"}
    %a.li.list-group-item{:href => stf_employees_path} Staff List 
    %a.li.list-group-item{:href => tr_types_path} Type 
    %a.li.list-group-item{:href => tr_customers_path} Customer 
    %a.li.list-group-item{:href => tr_programs_path} Program 
    %a.li.list-group-item{:href => tr_parts_path} Part 
    %a.li.list-group-item{:href => tr_cells_path} Cell 
    %a.li.list-group-item{:href => stf_assets_path} Asset 
    %a.li.list-group-item{:href => tr_secondary_course_names_path} Secondary Course Name 